/*
*   @author: Matheus Pereira dos Santos
*   @version: 1.0.0
*   2017-present
*/

@charset "utf-8";

/* estilização dos avisos com asterísco */
.advice {
    color: red;
    margin: 10px;
    padding: 5px;

}

.info-signal {
    color: red;
}

/* cores */
.color-green {
    background-color: rgb(0,255,0);
    color: rgb(255, 255, 255);
}

/* cabeçalhos */
.page-header2 {
    position: relative;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    font-family: sans-serif;
    color: rgba(0,0,0,.8);

}

/* descrições */
.description {
    position: relative;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    font-family: sans-serif;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

/* formulário */
.form {
    margin: 10px;
    border: none;
    padding: 10px;
    position: relative;
    display: block;   

}
.form p{
    margin-left: 20px;
}
.form input {
    margin: 0;
}
.form input[type="button"] {
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    border: none;
    
}
